{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paiement réussi!</h1>
    <p>Votre paiement a été effectué avec succès et votre commande sera bientôt en route. Merci pour votre achat!</p>
{% endblock %}
